*~*
build/*
*CMakeFiles*
*CMakeCache*
*cmake_install*
*CPack*
*3rdparty_bin*
*Makefile

*bulletsim/*
.metadata/*
*/build/*

*test/*

filter_color_cloud2/*

*eclipse*

*/src/*/msg/*
*/src/*/srv/*

bin/*
*/bin/*

msg_gen/*
*/msg_gen/*

srv_gen/*
*/srv_gen/*

lib/*
*/lib/*

*.pyc
